/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

main{
  padding-top: 70px;
  padding-bottom: 20px;
}

/* COMMON */
.container{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  
  /* border: 1px solid red; */
  /* height: 1100px; */
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col{
  width: calc(100% / 3 - (20px / 3));
  /* border: 1px solid red; */
  /* height: 300px; */
}

/* .padding-top{
  padding-top: 70px;
}

.padding-bottom{
  padding-bottom: 20px;
} */

.card span{
  font-size: 0.7rem;
}

.card h6{
  font-size: 0.7rem
}

.red{
  color: red;
}

.crossed{
  text-decoration: line-through;
}

.card{
  position: relative;
  margin-bottom: 10px;
}

.discount{
  position:absolute;
  bottom: 70px;
  font-size: 0.4rem;
  background-color: red;
  height: 12px;
  width: 22px;
  text-align: center;
  line-height: 12px;
  color: white;
}

.sostenibilità{
  position:absolute;
  bottom: 70px;
  left: 25px;
  font-size: 0.4rem;
  background-color: green;
  height: 12px;
  width: 40px;
  text-align: center;
  line-height: 12px;
  color: white;
}

.sostenibilità-left{
  position:absolute;
  bottom: 70px;
  left: 0;
  font-size: 0.4rem;
  background-color: green;
  height: 12px;
  width: 43px;
  text-align: center;
  line-height: 12px;
  color: white;
}

.heart{
  position: absolute;
  top: 5px;
  right: 0;
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 23px;
}

.heart:hover{
  color: red;
  cursor: pointer;
}

.secondary{
  display: none;
}

.wrap-images:hover .secondary{
  display: inline-block;
}

.wrap-images:hover .primary{
  display: none;
}

/* HEADER */
.header{
  height: 50px;
  background-color: #fe6900;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 3px 0 3px 3px rgba(0, 0, 0, .4);
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.logo{
  width: 10%;
}

#active{
  text-decoration: underline;
}

.gender{
  width: 15%;
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
}

.gender > li{
  list-style-type: none;
  gap: 10px;
}

.gender a{
  color: inherit;
  text-decoration: none;
}

.icons{
  width: 15%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

#user, #heart, #shop{
  padding: 0 0 0 5px;
}

/* FOOTER */
.footer{
  color: white;
  background-color: #1a1a1a;
  padding: 20px 0;
}

.footer span{
  font-size: 0.6rem;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right{
  font-size: 0.8rem;
}

#facebook, #instagram, #pinterest, #square{
  padding-left: 3px;
}